{
  auto_https disable_redirects
}

bot.chatnzt.ru {
  encode zstd gzip

  # Telegram webhook -> bot:3000
  @tg path_regexp tg ^/bot[0-9A-Za-z:_-]+$
  handle @tg {
    reverse_proxy http://bot:3000
  }

  # YooKassa webhooks -> yk:3102
  @yk path /yk-webhook*
  handle @yk {
    reverse_proxy http://yk:3102 {
      header_up -Signature
      # <-- подставим базовую авторизацию на апстрим yk
      header_up Authorization "Basic eWtfdXNlcjpzdXBlci1zZWNyZXQ="
    }
  }
}
